body {
    background-color: floralwhite;
}

h1, h2, p {
    text-align: center;
    color: blue;
}

.container {
    display: flex;
    align-items: center;
}

.content {
    width: 40%;
}

footer {
    text-align: center;
}
